<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

                    <h2> &nbsp;&nbsp;Menu </h2>

                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="https://render.bitstrips.com/v2/cpanel/9955128-260358917_6-s1-v1.png?transparent=1&palette=1"></p>

                    <h4> ⭐️ = Khalids Special Ⓥ = Suitable For Vegetarian</h4>
                    <hr> </hr>


                  <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Starter</h3>
                       <hr>                            </hr>
    <ul>
          <li>Barley SoupⓋ</li>

              <p> <b>Kcal</b> : 186  <b>Fat</b> : 6.9g <b>Carbs</b> : 27.7g <b>Protien</b> : 4.7g <p>
              <p> <i>A creamy barley soup with turmeric, tomatoes, carrots and fresh parsley.One of our new favourites!</i></p>

          <li>Carrot,Coriander and Chicken Soup</li>

              <p> <b>Kcal</b> : 200  <b>Fat</b> : 7.7g <b>Carbs</b> : 12.8g  <b>Protien</b> : 20.7g<p>
              <p><i>A light soup with chicken, carrots, leeks and ground coriander.</i></p>

          <li>Lentil SoupⓋ</li>

              <p> <b>Kcal</b> : 221  <b>Fat</b> : 6g <b>Carbs</b> : 12g  <b>Protien</b> : 13.3g<p>
              <p><i>A harira style lentil soup with tomatoes, onion, garlic and herbs.</i></p>

          <li>Vietnamese Spring Rolls⭐️</li>

              <p> <b>Kcal</b> : 208  <b>Fat</b> : 3.5g <b>Carbs</b> : 22.3g  <b>Protien</b> : 22.3g<p>
              <p><i>One of our classics! Thinly sliced chicken breast, rice noodles, romaine lettuce,fresh mint and basil, rolled in rice paper</i></p>

          <li>Satay Skewer</li>

              <p> <b>Kcal</b> : 195  <b>Fat</b> : 6.2g <b>Carbs</b> : 3.7g  <b>Protien</b> : 31.7g<p>
              <p><i>Delicious marinated chicken breast skewers.</i></p>
    </ul>

                                 <hr>                     </hr>

                        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Main</h3>
                             <hr>                            </hr>
    <ul>
          <li>Salmon Ragout</li>
              <p> <b>Kcal</b> : 297  <b>Fat</b> : 14g <b>Carbs</b> : 8.7g <b>Protien</b> : 30.8g<p>
              <p><i>Roasted fresh salmon fillet, cherry tomatoes and green beans with low fat cream sauce</i></p>

          <li>Thai Green Chicken Curry</li>

              <p> <b>Kcal</b> : 315  <b>Fat</b> : 17.2g <b>Carbs</b> : 13.4g <b>Protien</b> : 28.3g<p>
              <p><i>Strips of chicken breast cooked in creamy green curry with bamboo shoots, baby corn, eggplant and lime leaves.</i></p>

          <li>Red Beef Curry</li>

              <p> <b>Kcal</b> : 267  <b>Fat</b> : 14.6g <b>Carbs</b> : 10.5g <b>Protien</b> : 24.2g<p>
              <p><i>Strips of prime beef with spicy red curry, bamboo shoots, zucchini, lime leaves and basil.</i></p>

          <li>Grilled Honey Mustard Chicken</li>

              <p> <b>Kcal</b> : 300  <b>Fat</b> : 7.9g <b>Carbs</b> : 19.7g <b>Protien</b> : 39.7g<p>
              <p><i>Chicken breast marinated in honey, ginger and orange juice, with fennel, fresh parsley and red capsicum.</i></p>

          <li>Khalids Teriyaki Sesame Chicken Special ⭐️</li>

              <p> <b>Kcal</b> : 265  <b>Fat</b> : 4.9g <b>Carbs</b> : 16.7g <b>Protien</b> : 40.7g<p>
              <p><i>Chicken breast marinated in a homemade Teriyaki BBQ sauce served with bok choy</i></p>

          <li>Veggie Chili BowlⓋ</li>

              <p> <b>Kcal</b> : 265  <b>Fat</b> : 9.3g <b>Carbs</b> : 36.6g <b>Protien</b> : 9.7g<p>
              <p> <i>Sweet potatoes, kidney beans, red capsicum, zucchini, tomatoes, jalapenos, chipotle chilli and quinoa with sour cream.</i></p>

          <li>VegeliciousⓋ</li>

              <p> <b>Kcal</b> : 203  <b>Fat</b> : 11.6g <b>Carbs</b> : 16.7g <b>Protien</b> : 10.1g<p>
              <p><i>Grated carrots, zucchini, broccoli, leeks and onions, baked with whole eggs, sour cream and feta cheese, topped with mozzarella cheese.</i></p>

    </ul>

                                 <hr>                        </hr>
                           <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dessert</h3>
                                 <hr>                        </hr>
    <ul>
          <li>Frosty Cake</li>

              <p> <b>Kcal</b> : 291  <b>Fat</b> : 20.3g <b>Carbs</b> : 24.97g <b>Protien</b> : 8g<p>
              <p><i>Homemade cake with grated carrot, cinnamon, coconut and almond flour, topped with a coconut honey frosting and chopped pistachios.</i></p>

          <li>Dark Chocolate Mousse</li>

              <p> <b>Kcal</b> : 134  <b>Fat</b> : 8.1g <b>Carbs</b> : 9.4g <b>Protien</b> : 5.7g <p>
              <p><i>Heavenly dark creamy chocolate mousse with raspberries.</i></p>

          <li>Fruit Salad</li>

              <p> <b>Kcal</b> : 136  <b>Fat</b> : 0.6g <b>Carbs</b> : 34.1g <b>Protien</b> : 1.7g<p>
              <p><i>Assorted seasonal fresh fruits.</i></p>

          <li>Chocolate Banana Square⭐️</li>

              <p> <b>Kcal</b> : 150  <b>Fat</b> : 8.9g <b>Carbs</b> : 15.1g <b>Protien</b> : 2.5g<p>
              <p><i>Banana and carrot cake with dark chocolate topping.</i></p>

          <li>Choconut Treats</li>

              <p> <b>Kcal</b> : 210  <b>Fat</b> : 15.4g <b>Carbs</b> : 10.7g <b>Protien</b> : 8.7g<p>
              <p><i>lusters of chopped almonds, walnuts, shredded coconut and sesame seeds, dipped in dark chocolate</i></p>
      </ul>


                                              <hr>   </hr>
                        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Shakes&Beverages</h3>
                                             <hr>         </hr>
    <ul>
          <li>Choco Peanut Milkshake⭐️</li>

              <p> <b>Kcal</b> : 22  <b>Fat</b> : 10.2g <b>Carbs</b> : 5.3g <b>Protien</b> : 22.6<p>
              <p><i>A nutty mix of peanuts, chocolate whey protein powder, almond milk and crushed ice.</i></p>

          <li>Healthy Berry Smoothie</li>

              <p> <b>Kcal</b> : 209  <b>Fat</b> : 0.5g <b>Carbs</b> : 17.8g <b>Protien</b> : 24.3 <p>
              <p><i>A fruity mix of kiwi, raspberries, vanilla whey protein powder, water and crushed ice.</i></p>

          <li>Mocha Delight</li>

              <p> <b>Kcal</b> : 169 <b>Fat</b> : 1.9g <b>Carbs</b> : 5.7g <b>Protien</b> : 25.7<p>
              <p><i>A healthy mix of coffee, chocolate whey protein powder, skimmed milk, water and crushed ice</i>.</p>

          <li>apple Juice</li>

              <p> <b>Kcal</b> : 46  <b>Fat</b> : 0.1g <b>Protien</b> : 0.1g <p>
              <p></p>

          <li>Watermelon Juice</li>

              <p> <b>Kcal</b> : 48  <b>Fat</b> : 0.1g <b>Protien</b> : 0.6 <p>
              <p></P>

          <li>Orange Juice</li>

              <p> <b>Kcal</b> : 45  <b>Fat</b> : 0.2g <b>Protien</b> : 0.7 <p>
              <p></p>

          <li>Flavoured water - Lemon lime</li>


              <p> <b>Kcal</b> :47  <p>
              <p></p>

          <li>Bottled Water</li>

    </ul>
                                                <hr>                 </hr>


    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/new"> Ready To Place Your Order </a></p>
  </body>
</html>
