<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

         <h2> Welcome to KSA Kitchen</h2>



          <img class="left" src="https://render.bitstrips.com/v2/cpanel/10217325-260358917_6-s1-v1.png?transparent=1&palette=1">



         <p><a href="/menu">Click Here For Menu </a></p>
  </body>
</html>
